.adPopup{
    background-color: #191C1F;
    color:#FFFF;
}

.ad_alignText{
    display: inline-block;
    background-color: #F3DE6D;
    padding:0.2em;
    color:#191C1F;
    transform: rotate(-4deg);

}

.adOffer--bold{
    display: inline-flex;
    font-size: 1.4em;
    color:#EBC80C
}