

#calculator{
    display: grid;
    grid-auto-flow: row;
    margin: auto;
    width: 280px;
    margin: 8% auto;
    align-self: center;
}

#calculator input{
   margin-left: 3%;
    width: 92%;
    height: 40px;
}


.operators{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 20em;
    height: 20em;
    gap: 0.5em;
    padding:0.5em;
    text-align: center;
    
}

